* {
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table{
    border-collapse: collapse;
    border: 5px solid black;
    margin: 20px;
}

td {
    text-align: center;
    background-color: #BA7A3A;
    width: 65px;
    height: 65px;
}

.no-piece {
    background-color: #F0D2B4;
}

.black-piece {
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.white-piece {
    width: 10px;
    height: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
}

.king.white-piece {
    background-color: orange;
}

.king.black-piece {
    background-color: purple;
}

p {
    display: inline-block;
}

#white-turn-indicator{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: red;
    font-weight: bold;
}

#black-turn-indicator{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
    font-weight: bold;
}

#account {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: grey;
    font-weight: bold;
}